<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="top" th:fragment="top">
        spring boot 开发web小案例的头部
    </div>

    <div class="footer" th:fragment="footer">
        spring boot 开发web小案例的底部
    </div>

    <div class="sidlebar" th:fragment="sidlebar">
        <br/>
        <a href="#" th:href="@{/main.html}" th:class="${isActive=='main'?'active':''}" >main主页面</a><br/><br/>
        <a href="#" th:href="@{/userlist.html}" th:class="${isActive=='userlist'?'active':''}">用户列表</a>
    </div>
</body>
</html>