<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links,script)">
    <title th:replace="${title}">The awesome application</title>

    <!-- 共用的css和js -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}">
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

    <!-- 额外添加的链接 -->
    <th:block th:replace="${links}" />
    <th:block th:replace="${script}" />
</head>

<body>

</body>
</html>